nav.ac-nav
  ul.ac-nav__list
    li.ac-nav__list-item
      a(href="/index.html").ac-nav__link Home
    li.ac-nav__list-item
      a(href="/book-media.html").ac-nav__link Book Media
    li.ac-nav__list-item
      a(href="/view-bookings.html").ac-nav__link View Bookings
    li.ac-nav__list-item
      a(href="/recurring-bookings.html").ac-nav__link Recurring Bookings
    li.ac-nav__list-item
      a(href="/reporting.html").ac-nav__link Reporting
    li.ac-nav__list-item
      a(href="/admin.html").ac-nav__link Admin