.cpCaseStudyBlock {
    &--flex {
        display:flex;
        @media(max-width:em(770)) {
            flex-direction:column;
        }
    }
    &_Panel {
        width:50%;
        float:left;
        line-height:0;
        @media(max-width:em(770)) {
            width:100%;
        }
        &--imagePanel {
            @media(max-width:em(770)) {
                order:1;
            }
            img {
                width:100%;
                height:auto;
            }
        }
        &--caseStudy {
            display:flex;
            align-items:center;
            @media(max-width:em(770)) {
                order:2;
                padding:0;
            }
            .in {
                padding:0 18%;
                line-height:1.2;
                @media(max-width:em(770)) {
                    padding: em(60);
                }
            }
            h3 {
                font-size:em(33);
                margin-bottom:em(10);
            }
            p {
                font-size:em(18);
                margin-bottom:em(15);
            }
            a {
                color:$green;
                font-size:em(18);
            }
        }
    }
}



.caseStudy {
    overflow:hidden;
    &_Block {
        &--flex {
            display:flex;
            align-items:center;
            @media(max-width:em(770)) {
                display:block;
            }
        }
    }
    &_Column {
        width:50%;
        float:left;
        @media(max-width:em(770)) {
            width:100%;
            float:none;
            margin-bottom:em(20);
        }
        &--left {
            .in {
                padding-right:em(20);
                @media(max-width:em(770)) {
                    padding-right:0;
                }
            }
        }
        &--right {
            .in {
                padding-left:em(20);
                @media(max-width:em(770)) {
                    padding-left:0;
                }
            }
        }
        &--full {
            width:100%;
            float:none;
        }
        img {
            width:100%;
            height:auto;
        }
    }
    &_Intro {
        p {
            font-size:em(24);
            line-height:1.5;
        }
    }
    &_Header {
        h1 {
            margin-bottom:em(20);
        }
    }
    &_FeaturePoint {
      padding: em(40);
      @media(max-width:em(770)) {
          padding:em(40) 0;
      }
        h2 {
            margin-bottom:em(10);
            font-size:em(42);
        }
        p {
            font-size:em(24);
            line-height:1.5;
        }
    }
    &_Points {
        &--point {
            font-size:em(24);
            line-height:1.5;
            span {
                width:70%;
                float:left;
                &:first-of-type {
                    width:30%;
                    float:left;
                    font-weight:800;
                }
            }
            a {
                color:$green;
            }
        }
    }
}
