.cpClients {
  background: $grey-light;
  h2 {
    font-size: em(40);
  }
    &--flex {
        display:flex;
        flex-wrap:wrap;
    }
    .in {
        display:flex;
        flex-wrap:wrap;
        flex-grow:1;
        align-items:center;
    }
    &_Single {
        width:25%;
        @media(max-width:em(770)) {
            width:50%;
            margin-bottom: em(40);
        }
        float:left;
        line-height:0;

        .in {
            padding:0 18%;
            position:relative;
            height:100%;
            display:flex;
            align-items:center;
            justify-content:center;
            margin-bottom:em(20);
        }
        img {
            max-width:100%;
            margin: 0 auto;
        }
        &--bmb img {
          transform: scale(0.7);
        }
        &--hilton img {
          transform: scale(0.8);
        }
        &--rangers img {
          transform: scale(0.6);
        }
        &--ryobi img {
          transform: scale(0.9);
        }
    }
}
