.mainNav {
    padding:em(20) 0;
    transition:all 0.3s ease;
    &--absolute {
        position:absolute;
        top:0;
        left:0;
        right:0;
    }
    &--fixed {
        position:fixed;
        top:0;
        left:0;
        right:0;
        z-index:10;
    }
    &--flex {
        display:flex;
        align-items:center;
    }
    &--navUp {
        top: em(-152);
    }
    &--navDown {
        top:0;
        background:$white;
        box-shadow: 0px 5px 0px rgba(0,0,0,.1);
        padding:em(10) 0;
        .cpBrand {
            path {
                fill:$baseColor;
            }
        }
        .cpList--inline {
            li a {
                color:$baseColor;
                @media(max-width:em(770)) {
                    color:$white;
                }
            }
        }
        .hamburgerIcon {
            color:$baseColor;
            border-color:$baseColor;
        }
    }
}
