.colours1 {

  $bg-colour: #01798E;
  $button-links: #222526;
  $quote-colour: #E1F4F7;

  background: $bg-colour;
  h1 {
    color: $quote-colour;
    text-shadow: 2px 2px 0px darken( $bg-colour, 05% );
  }
  p {
    color: $quote-colour;
    text-shadow: 10px 10px 0px darken( $bg-colour, 05% );
  }
  .btn {
    color: $quote-colour;
    background: $button-links;
    box-shadow: 0px 5px 0px 0px darken( $button-links, 05% );
    &:hover {
      box-shadow: 0px 0px 0px 0px $button-links;
    }
  }
  #twitterButton, .cuntribute {
    color: $button-links;
  }
}

.colours2 {

  $bg-colour2: #9BBEC7;
  $links2: #DFF8EB;
  $button2: #74776B;
  $quote-colour2: #2B4141;

  background: $bg-colour2;
  h1 {
    color: $quote-colour2;
    text-shadow: 2px 2px 0px darken( $bg-colour2, 05% );
  }
  p {
    color: $quote-colour2;
    text-shadow: 10px 10px 0px darken( $bg-colour2, 05% );
  }
  .btn {
    color: $links2;
    background: $button2;
    box-shadow: 0px 5px 0px 0px darken( $button2, 05% );
    &:hover {
      box-shadow: 0px 0px 0px 0px $button2;
    }
  }
  #twitterButton, .cuntribute {
    color: $quote-colour2;
  }
}

.colours3 {

  $bg-colour3: #FCB0B3;
  $links3: #DFF8EB;
  $button3: #F93943;
  $quote-colour3: #FCECC9;

  background: $bg-colour3;
  h1 {
    color: $quote-colour3;
    text-shadow: 2px 2px 0px darken( $bg-colour3, 05% );
  }
  p {
    color: $quote-colour3;
    text-shadow: 10px 10px 0px darken( $bg-colour3, 05% );
  }
  .btn {
    color: $links3;
    background: $button3;
    box-shadow: 0px 5px 0px 0px darken( $button3, 05% );
    &:hover {
      box-shadow: 0px 0px 0px 0px $button3;
    }
  }
  #twitterButton, .cuntribute {
    color: $button3;
  }
}

.colours4 {

  $bg-colour4: #820115;
  $links4: #3F0D12;
  $button4: #2E0A0E;
  $quote-colour4: #F1F0CC;

  background: $bg-colour4;
  h1 {
    color: $quote-colour4;
    text-shadow: 2px 2px 0px darken( $bg-colour4, 05% );
  }
  p {
    color: $quote-colour4;
    text-shadow: 10px 10px 0px darken( $bg-colour4, 05% );
  }
  .btn {
    color: $quote-colour4;
    background: $links4;
    box-shadow: 0px 5px 0px 0px darken( $links4, 05% );
    &:hover {
      box-shadow: 0px 0px 0px 0px $button4;
    }
  }
  #twitterButton, .cuntribute {
    color: $button4;
  }
}

.colours5 {

  $bg-colour5: #00A388;
  $links5: #094C61;
  $button5: #094C61;
  $quote-colour5: #FFFF9D;

  background: $bg-colour5;
  h1 {
    color: $quote-colour5;
    text-shadow: 2px 2px 0px darken( $bg-colour5, 05% );
  }
  p {
    color: $quote-colour5;
    text-shadow: 10px 10px 0px darken( $bg-colour5, 05% );
  }
  .btn {
    color: $quote-colour5;
    background: $links5;
    box-shadow: 0px 5px 0px 0px darken( $links5, 05% );
    &:hover {
      box-shadow: 0px 0px 0px 0px $button5;
    }
  }
  #twitterButton, .cuntribute {
    color: $button5;
  }
}
