.colours1 {
  background: blue;
}

.colours2 {
  background: green;
}

.colours3 {
  background: red;
}

.colours4 {
  background: yellow;
}

.colours5 {
  background: orange;
}

.colours6 {
  background: black;
}
