$black: 900;
$extrabold: 800;
$bold: 700;
$semiBold: 600;
$normal: 500;
$medium: 400;

$baseFontFamily: 'Proxima Nova';

a, a:visited {
  color: $green;
}

h1,h2,h3,h4,h5,h6 {
    font-weight:$bold;
}
p {
	line-height:1.3;
	font-size:em(16);
	font-weight:$medium;
}
h1 {
	font-size:em(36);
}
h2 {
	font-size:em(28);
}
h3 {
	font-size:em(24);
}
h4 {
	font-size:em(20);
}
h5 {
	font-size:em(18);
}
h6 {
	font-size:em(16);
}
// Typogarphy variables
$body-font: "proxima-nova",sans-serif;
$heading-font: "proxima-nova",sans-serif;

// Font Smoothing
* {
  -webkit-font-smoothing: antialiased;
}

// Body
body, a, p {
  font-family: $body-font;
  font-weight: 300;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  font-weight:$extrabold;
}

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}
