extends ../layouts/_layout.pug
include ../mixins/_faq.pug

block content
  div.ch-container
    h1 FAQ's

    section.faqs
      +faq("How Do You Add In Another User?", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas finibus fringilla urna ac viverra. Aliquam imperdiet sed augue ac rutrum. Curabitur vestibulum nulla nec venenatis efficitur.")
      
      +faq("Is There A Manual?", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas finibus fringilla urna ac viverra. Aliquam imperdiet sed augue ac rutrum. Curabitur vestibulum nulla nec venenatis efficitur.")
      
      +faq("How Do You Add In Another User?", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas finibus fringilla urna ac viverra. Aliquam imperdiet sed augue ac rutrum. Curabitur vestibulum nulla nec venenatis efficitur.")
      
      +faq("How Do You Add In Another User?", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas finibus fringilla urna ac viverra. Aliquam imperdiet sed augue ac rutrum. Curabitur vestibulum nulla nec venenatis efficitur.")
