extends ../layouts/_layout.pug
include ../mixins/_quick-link.pug

block content
  div.ch-container
    h1 Publication

  div.ch-container
    div.ch-row
      +quick-link("/admin/publication/insertion-types.html", "Insertion Types", "Allows adding, editing and deleteing of Insertion types.", "fa-tags", true)
      +quick-link("/admin/publication/copy-breakdown.html", "Copy % Breakdown", "Allows you to copy the breakdown of costs between publications", "fa-list-ol")
      +quick-link("/admin/publication/super-group.html", "Super Group", "Allows the ability to maintain the Super Groups. i.e. which Publication is a member of which Group", "fa-group")
      +quick-link("/admin/publication/publication-information.html", "Publication Information", "Allows you to add, edit and delete changes to publications including address details, costs or Franchise / Branch allocations", "fa-info")
      +quick-link("/admin/publication/group-allocations.html", "Group % Allocations", "Allows the ability to create publication cost groups", "fa-group")
      +quick-link("/admin/publication/utilities.html", "Utilities", "Allows the ability to edit the publication types", "fa-wrench", true)
