extends ../layouts/_layout.pug
include ../mixins/_quick-link.pug

block content
  div.ch-container
    h1 Users

  div.ch-container
    div.ch-row
      +quick-link("/admin/users/users.html", "Users", "Allows you to add, edit and delete users", "fa-users")
      +quick-link("/admin/users/branches.html", "Branches", "Allows you to add, edit and delete branches", "fa-building")
      +quick-link("/admin/users/system-modules.html", "System Modules", "Allows you to add, edit and delete tags", "fa-cogs", true)
      +quick-link("/admin/users/branch-groups.html", "Branch Groups", "Allows you to add, edit and delete groups and branches", "fa-building")
      +quick-link("/admin/users/roles.html", "Roles", "Allows you to add, edit or delete roles", "fa-users")
      +quick-link("/admin/users/franchises.html", "Franchises", "Allows you to add, edit or delete franchises", "fa-building")
      +quick-link("/admin/users/adverts.html", "Adverts", "Allows you to add, edit and delete viee groups, which are used to deteremine, what users see what", "fa-television")

