extends ../layouts/_layout.pug
include ../mixins/_form.pug
include ../mixins/_quick-link.pug

block content
  div.ch-container
    h1 Utilities
    +row
      +quick-link("/admin/utilities/merge-branch.html", "Merge Branch", "Allows the ability to maintain the Merge Branches", "fa-compress")
      +quick-link("/admin/utilities/batch-email.html", "Batch Email", "This utility allows you to batch email up the Orders made between 2 certain dates", "fa-envelope")
      +quick-link("/admin/utilities/change-publication-group.html", "Change Publication Group", "Allows the ability to remove a publication from one publication group and add it to another", "fa-object-group")
      +quick-link("/admin/utilities/undelete-advert.html", "Undelete Advert", "Allows the ability to undelete an advert ", "fa-newspaper-o")


