extends ../../layouts/_layout.pug
include ../../mixins/_alphabet.pug
include ../../mixins/_user.pug

block content
  div.ch-container
    h1 Users
    +alphabet()
      +userTable("A")
        +user()
        +user()
        +user()
        +user()
      +userTable("B")
        +user()
        +user()
        +user()
      +userTable("C")
        +user()
        +user()
        +user()
        +user()
        +user()
        +user()
      +userTable("D")
        +user()
        +user()
        +user()

