extends layouts/_layout.pug
include mixins/_quick-link.pug
include mixins/_form.pug

block content
  div.ch-container
    h1 Admin

  div.ch-container
    +row()
      +quick-link("/admin/users.html", "Users", "Allows you to Add, edit and delete users and branches. You can also alter what each branch or user can see.", "fa-users")
      +quick-link("/admin/message-of-the-day.html", "Message of the Day", "Gives you the ability to change the Message of the Day.", "fa-comment", true)
      +quick-link("/admin/publication.html", "Publication", "Allows the user to change publication prices.", "fa-newspaper-o")
      +quick-link("/admin/utilities.html", "Utilities", "Allows you to access to specific Utilties", "fa-wrench")
      +quick-link("/admin/faqs.html", "FAQ's", "Frequenctly asked questions admin.", "fa-question", true)
      +quick-link("/admin/reporting.html", "Reporting", "Gives you the ability to add, edit or delete reports", "fa-file-text", true)
      +quick-link("/admin/email-template.html", "Email Template", "Gives you the ability to add, edit or delete email templates", "fa-envelope", true)
      +quick-link("/admin/report-maintenance.html", "Report Maintenance", "Allows user to access the report parameters of complicated reports", "fa-table", true)
