extends layouts/_layout.pug
include mixins/_form.pug

block content
  div.ch-container 
    h1 Book Media
    h4 Booking Details
    form.ch-form__group.ch-form--inline.ch-well--bordered
      legend 
        p Please enter the details and press next
      +row
        +select("Publication", "abarth", "", [{value: "abarth", text: "Abarth"}])
        +select("Group", "vcars", "", [{value: "vcars", text: "Vcars"}])

      +row
        +select("Size", "2x3", "", [{value: "2x3", text: "2x3"}])

      +row
        +textarea("Notes")

      +row
        +date("First date of deadline")
        +time("Time of first deadline")

      +row
        +date("First date of insertion")

      +row
        +checkbox("Colour")
        +checkbox("Mono")

      +row
        +number("Insertion Cost (£)", "238.14", "", "0.01")

      button(disabled="true").ch-btn.ch-btn--primary.ch-btn--sm Previous
      a(href="/book-media-2.html").ch-btn.ch-btn--primary.ch-btn--sm Next