doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title You’re a cunt if…
        link(rel='stylesheet', type='text/css', href='css/styles.css')
        link(href="https://fonts.googleapis.com/css?family=Montserrat", rel="stylesheet")
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
        meta(name='robots', content='index,follow,noodp,noydir')
        meta(name='Description', content='')
        // Favicon
        link(rel='icon', type='image/png', href='')
        // OG
        meta(property='og:locale', content='en_GB')
        meta(property='og:type', content='website')
        meta(property='og:title', content='You’re a cunt if…')
        meta(property='og:description', content="You’re a cunt if…")
        //- meta(property='og:url', content='http://www.trefoil.digital/')
        meta(property='og:site_name', content='You’re a cunt if…')
        meta(property='og:image', content='https://craigymcl.github.io/youre-a-cunt-if/dist/images/social-image.png')
        // Twitter
        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:description', content="You’re a cunt if…")
        meta(name='twitter:title', content='You’re a cunt if…')
        meta(name='twitter:site', content='@youreacunt_if')
        meta(name='twitter:image', content='https://craigymcl.github.io/youre-a-cunt-if/dist/images/social-image.png')
        meta(name='twitter:creator', content='@youreacunt_if')

body
          section.container
                h1
                  <svg id="Combined-Shape" width="20vw" viewBox="0 0 367 236">
                      <defs>
                          <path d="M268.045854,166.153846 L330.711623,238.004808 L184.351366,166.153846 L27.7126528,166.153846 C12.4073773,166.153846 0,153.733254 0,138.436972 L0,27.7168738 C0,12.4092671 12.4115769,0 27.7126528,0 L324.287347,0 C339.592623,0 352,12.4205925 352,27.7168738 L352,138.436972 C352,153.744579 339.588423,166.153846 324.287347,166.153846 L268.045854,166.153846 Z M81.4596527,69.1303299 L81.4596527,53.6095962 L95.9726124,30.0649361 L82.6885726,30.0649361 L75.5491328,43.2429175 L68.2926529,30.0649361 L55.0086131,30.0649361 L69.6386129,53.6095962 L69.6386129,69.1303299 L81.4596527,69.1303299 Z M111.773012,69.8331556 C121.838452,69.8331556 127.690452,62.8634676 127.690452,54.9566788 C127.690452,47.0498899 121.838452,40.1387708 111.773012,40.1387708 C101.766092,40.1387708 95.9140924,47.0498899 95.9140924,54.9566788 C95.9140924,62.8634676 101.766092,69.8331556 111.773012,69.8331556 Z M161.222411,69.1303299 L161.222411,40.8415965 L150.688811,40.8415965 L150.688811,58.2951007 C149.811011,59.2907705 148.582092,60.5207154 146.241292,60.5207154 C143.666412,60.5207154 142.144892,59.4079081 142.144892,56.5380366 L142.144892,40.8415965 L131.611292,40.8415965 L131.611292,61.0478346 C131.611292,65.9090456 134.420252,69.8331556 140.974492,69.8331556 C145.948692,69.8331556 149.050252,67.7832474 150.688811,65.9676144 L150.688811,69.1303299 L161.222411,69.1303299 Z M179.012491,37.034624 C179.012491,32.2319819 175.793891,29.479248 172.224171,29.479248 C168.947051,29.479248 166.138091,32.2319819 166.138091,35.6289727 C166.138091,38.9088258 168.420371,41.0758717 171.229331,41.0758717 C171.873051,41.0758717 172.458251,40.9587341 172.750851,40.8415965 C171.990091,43.0672111 169.298171,45.6442386 167.425531,46.4642019 L171.697491,49.9197614 C176.262051,46.6984771 179.012491,42.188679 179.012491,37.034624 Z M194.052131,69.1303299 L194.052131,51.7939632 C195.222531,50.3883119 198.090011,49.8026238 200.313771,49.8026238 C201.308611,49.8026238 202.186411,49.9197614 202.713091,50.0954679 L202.713091,40.0216332 C199.494491,40.0216332 195.807731,41.895835 194.052131,43.9457432 L194.052131,40.8415965 L183.518531,40.8415965 L183.518531,69.1303299 L194.052131,69.1303299 Z M220.15205,69.8331556 C224.36549,69.8331556 229.39821,68.7203483 232.20717,66.3190272 L227.87669,59.8178897 C226.47221,61.0478346 222.96101,61.8092291 221.38097,61.8092291 C217.92829,61.8092291 215.88009,60.0521649 215.29489,58.2365319 L234.48945,58.2365319 L234.48945,56.0694861 C234.48945,46.112789 228.11077,40.1387708 219.80093,40.1387708 C210.67181,40.1387708 204.410171,46.7570459 204.410171,54.9566788 C204.410171,64.269119 211.31553,69.8331556 220.15205,69.8331556 Z M279.900969,69.1303299 L279.900969,52.0282385 C279.900969,42.5986606 273.054129,40.1387708 266.03173,40.1387708 C261.75977,40.1387708 256.49297,41.3687157 252.68917,44.4142936 L256.25889,50.9154311 C258.48265,49.2169358 261.46717,48.1626972 264.10057,48.1626972 C267.553249,48.1626972 269.367369,49.6854862 269.367369,51.6768256 L269.367369,54.6052659 C267.845849,52.6724953 264.51021,51.5011192 260.82345,51.5011192 C256.61001,51.5011192 251.10913,53.4924586 251.10913,60.5207154 C251.10913,66.9632841 256.61001,69.8331556 260.82345,69.8331556 C264.33465,69.8331556 267.787329,68.4275042 269.367369,66.4361648 L269.367369,69.1303299 L279.900969,69.1303299 Z M72.9157328,125.319393 C79.3529327,125.319393 83.3322926,122.332384 84.9123326,119.989632 L78.1240127,113.547063 C77.2462127,114.835577 75.6076528,116.006953 73.3838928,116.006953 C70.3993728,116.006953 67.8244929,114.074182 67.8244929,110.442916 C67.8244929,106.81165 70.3993728,104.937449 73.3838928,104.937449 C75.6076528,104.937449 77.2462127,105.991687 78.1240127,107.33877 L84.9123326,100.95477 C83.3322926,98.5534487 79.3529327,95.6250084 72.9157328,95.6250084 C63.962173,95.6250084 57.0568131,101.481889 57.0568131,110.442916 C57.0568131,119.462513 63.962173,125.319393 72.9157328,125.319393 Z M117.976132,124.616568 L117.976132,96.327834 L107.442532,96.327834 L107.442532,113.781338 C106.564732,114.777008 105.335812,116.006953 102.995012,116.006953 C100.420132,116.006953 98.8986124,114.894146 98.8986124,112.024274 L98.8986124,96.327834 L88.3650125,96.327834 L88.3650125,116.534072 C88.3650125,121.395283 91.1739725,125.319393 97.7282124,125.319393 C102.702412,125.319393 105.803972,123.269485 107.442532,121.453852 L107.442532,124.616568 L117.976132,124.616568 Z M153.497771,124.616568 L153.497771,104.527467 C153.497771,99.6076872 150.630291,95.6250084 144.076052,95.6250084 C139.101852,95.6250084 136.000292,97.6749166 134.361732,99.5491184 L134.361732,96.327834 L123.828132,96.327834 L123.828132,124.616568 L134.361732,124.616568 L134.361732,107.163063 C135.239532,106.167394 136.468452,104.937449 138.867772,104.937449 C141.384132,104.937449 142.964172,106.050256 142.964172,108.978696 L142.964172,124.616568 L153.497771,124.616568 Z M171.229331,125.319393 C174.799051,125.319393 177.256891,124.440861 178.368771,123.445191 L176.496131,115.479834 C176.262051,115.714109 175.325731,116.006953 174.389411,116.006953 C172.984931,116.006953 172.048611,114.835577 172.048611,113.371357 L172.048611,105.464568 L177.783571,105.464568 L177.783571,96.327834 L172.048611,96.327834 L172.048611,88.5967516 L161.515011,88.5967516 L161.515011,96.327834 L156.833411,96.327834 L156.833411,105.464568 L161.515011,105.464568 L161.515011,116.416935 C161.515011,122.332384 164.967691,125.319393 171.229331,125.319393 Z M201.893811,94.2779258 C205.170931,94.2779258 207.804331,91.6423295 207.804331,88.3624764 C207.804331,85.0826232 205.170931,82.4470269 201.893811,82.4470269 C198.616691,82.4470269 195.983291,85.0826232 195.983291,88.3624764 C195.983291,91.6423295 198.616691,94.2779258 201.893811,94.2779258 Z M207.160611,124.616568 L207.160611,96.327834 L196.627011,96.327834 L196.627011,124.616568 L207.160611,124.616568 Z M225.71145,124.616568 L225.71145,105.464568 L231.44641,105.464568 L231.44641,96.327834 L225.71145,96.327834 L225.71145,95.0393203 C225.71145,93.633669 227.05741,92.7551369 228.34485,92.7551369 C229.57377,92.7551369 230.33453,93.1065497 230.97825,93.8679442 L234.78205,88.0110635 C232.79237,85.9025865 229.22265,84.9654856 225.94553,84.9654856 C219.68389,84.9654856 215.17785,89.1238709 215.17785,95.0393203 L215.17785,96.327834 L210.49625,96.327834 L210.49625,105.464568 L215.17785,105.464568 L215.17785,124.616568 L225.71145,124.616568 Z M246.25197,119.052531 C246.25197,115.65554 243.44301,112.785669 240.04885,112.785669 C236.65469,112.785669 233.84573,115.65554 233.84573,119.052531 C233.84573,122.390953 236.65469,125.260824 240.04885,125.260824 C243.44301,125.260824 246.25197,122.390953 246.25197,119.052531 Z M262.75461,119.052531 C262.75461,115.65554 259.94565,112.785669 256.55149,112.785669 C253.15733,112.785669 250.34837,115.65554 250.34837,119.052531 C250.34837,122.390953 253.15733,125.260824 256.55149,125.260824 C259.94565,125.260824 262.75461,122.390953 262.75461,119.052531 Z M279.257249,119.052531 C279.257249,115.65554 276.448289,112.785669 273.054129,112.785669 C269.659969,112.785669 266.851009,115.65554 266.851009,119.052531 C266.851009,122.390953 269.659969,125.260824 273.054129,125.260824 C276.448289,125.260824 279.257249,122.390953 279.257249,119.052531 Z" id="path-1"></path>
                      </defs>
                      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Group-22-Copy" transform="translate(189.000000, 143.000000) rotate(-9.000000) translate(-189.000000, -143.000000) translate(13.000000, 23.000000)">
                              <mask id="mask-2" fill="white">
                                  <use xlink:href="#path-1"></use>
                              </mask>
                              <use id="Combined-Shape" fill="#FFFFFF" xlink:href="#path-1"></use>
                          </g>
                      </g>
                  </svg>
                a.cuntribute
                  | Cuntribute?
                p#quote
                .another-reason
                a#generateButton.btn.btn-lg Another
                a#twitterButton(href='', target='_blank')
                    i.fa.fa-twitter
                    |  Lol, Tweet this shit

          script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
          script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
          script(type='text/javascript', src='js/all.js')
          script.
              (function (i, s, o, g, r, a, m) {
              i['GoogleAnalyticsObject'] = r;
              i[r] = i[r] || function () {
              (i[r].q = i[r].q || []).push(arguments)
              }, i[r].l = 1 * new Date();
              a = s.createElement(o),
              m = s.getElementsByTagName(o)[0];
              a.async = 1;
              a.src = g;
              m.parentNode.insertBefore(a, m)
              })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
              ga('create', 'UA-73340622-1', 'auto');
              ga('send', 'pageview');
          script.
