doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title You're a cunt if…
        link(rel='stylesheet', type='text/css', href='css/styles.css')
        link(href="https://fonts.googleapis.com/css?family=Montserrat", rel="stylesheet")
        meta(name='robots', content='index,follow,noodp,noydir')
        meta(name='Description', content='')
        // Favicon
        link(rel='icon', type='image/png', href='')
        // OG
        meta(property='og:locale', content='en_GB')
        meta(property='og:type', content='website')
        meta(property='og:title', content='Trefoil Digital | Web Design Glasgow | Website Design Scotland')
        meta(property='og:description', content="We're Trefoil Digital. A website design and branding company based in Glasgow, Scotland, UK | Web Design Glasgow")
        meta(property='og:url', content='http://www.trefoil.digital/')
        meta(property='og:site_name', content='Trefoil Digital')
        meta(property='og:image', content='http://www.trefoil.digital/assets/images/trefoil-og-header.png')
        // Twitter
        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:description', content="We're Trefoil Digital. A website design and branding company based in Glasgow, Scotland, UK | Web Design Glasgow")
        meta(name='twitter:title', content='Trefoil Digital | Web Design Glasgow | Website Design Scotland')
        meta(name='twitter:site', content='@trefoildigital')
        meta(name='twitter:image', content='http://www.trefoil.digital/assets/images/trefoil-og-header.png')
        meta(name='twitter:creator', content='@trefoildigital')


body
    section.container
        .row
            h1 You're a cunt if…
            p#quote
            a#twitterButton.btn.btn-primary(href='', target='_blank')
                i.fa.fa-twitter
                |  Tweet this
            a#generateButton.btn.btn-lg New Quote

            script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
            script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
            script(type='text/javascript', src='js/all.js')
            script.
                (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
                })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
                ga('create', 'UA-73340622-1', 'auto');
                ga('send', 'pageview');
            script.
