extends layouts/_layout.pug
include mixins/_form.pug

block content
  div.ch-container
    h1 Login
    form.ch-form__group.ch-form--inline.ch-well--bordered
      legend 
        p Please select from the following menus to log in.

      +row
        +select("Branch Group", "abarth", "", [{value: "abarth", text: "Abarth"}])
        +select("Branch", "pollockshaws-rd", "", [{value: "pollockshaws-rd", text: "Pollockshaws Rd"}])

      +row
        +select("Username", "brian-hamill", "", [{value: "brian-hamill", text: "Brian Hamill"}])
        +password("Password")

      input(type="submit", value="Login").ch-btn.ch-btn--sm.ch-btn--cta


      div.ch-slab.ch-clearfix
        div.ch-col--md-12
          div.ch-well--bordered
            h4 Important Messages
            p To get a log in for this site, please follow the 'Request a Login' link at the top of the page.
            p any problems please phone IT Support on 0845 051 5000 or email intranet.support@arnoldclark.co.uk. Or press the 'Log Error' link on the main page after log in
