extends layouts/_layout.pug
include mixins/_form.pug

block content
  div.ch-container
    h1 Book Recurring Media

    h4 Booking Details

    form.ch-form__group.ch-form--inline.ch-well--bordered
      +row 
        +select("All Publications", "all", "", [{value: "all", text: "All Publications"}])
        +select("Group", "all", "", [{value: "all", text: "All Groups"}])

      +row
        +select("All Sizes", "all", "", [{value: "all", text: "All Sizes"}])

      +row
        +textarea("Notes")

      +row
        +date("First date of deadline")
        +time("Time of first deadline")

      +row 
        +date("First date of insertion")

      +row
        +checkbox("Color")
        +checkbox("Mono")

      +row
        +number("Repeat Every (days)", "", "", "1")
        +number("Number of iterations", "", "", "1")

      +row 
        +number("Insertion Cost (£)", "238.14", "", "0.01")

      button(disabled).ch-btn.ch-btn--sm.ch-btn--primary Previous
      a(href="/recurring-bookings-2.html").ch-btn.ch-btn--sm.ch-btn--primary Next

      