extends layouts/_layout.pug
include mixins/_pagination.pug

block content
  div.ch-container
    h1 Report Central

    div.ch-well--bordered
      +pagination(4)
        table#page1
          thead
            tr: th reports
          tbody
            tr: td: a(href="#") Adverts for Branch
            tr: td: a(href="#") Adverts by Publication
            tr: td: a(href="#") Adverts for Trello
            tr: td: a(href="#") Adverts for Trello User
            tr: td: a(href="#") Adverts to Publication
            tr: td: a(href="#") Audit of Media Rates
            tr: td: a(href="#") Bookings for Group
            tr: td: a(href="#") Bookings for Publication
            tr: td: a(href="#") Branch Adverts List
            tr: td: a(href="#") Branch List
        
        table#page2
          thead
            tr: th reports
          tbody
            tr: td: a(href="#") Branch Spends per Month
            tr: td: a(href="#") Copy Board
            tr: td: a(href="#") Cost Breakdown
            tr: td: a(href="#") Finance Incomplete Bookings
            tr: td: a(href="#") Flat Plan
            tr: td: a(href="#") Franchise Adverts List
            tr: td: a(href="#") Franchise Branch List
            tr: td: a(href="#") Invalid Branch Breakdown
            tr: td: a(href="#") Invalid Cost Group Breakdown
            tr: td: a(href="#") Invalid Costs Breakdown

        table#page3
          thead
            tr: th reports
          tbody
            tr: td: a(href="#") Invalid Costs in Adverts
            tr: td: a(href="#") Local Bookings
            tr: td: a(href="#") Local Bookings (Service)
            tr: td: a(href="#") Media Plan
            tr: td: a(href="#") Media Rates
            tr: td: a(href="#") Press Job Card
            tr: td: a(href="#") Press Job Card V2
            tr: td: a(href="#") Press Spends
            tr: td: a(href="#") Publication Cost Groups
            tr: td: a(href="#") Publication List

        table#page4
          thead
            tr: th reports
          tbody
            tr: td: a(href="#") Specific Publication Cost Breakdown
            tr: td: a(href="#") Studio Board
            tr: td: a(href="#") User List
            tr: td: a(href="#") Weekly Advertising