extends layouts/_layout.pug
include mixins/_form.pug

block content
  div.ch-container
    h1 View Bookings
    
    div.ch-row
      div.ch-col--md-12
        div.ch-well--bordered
          p Warning: You now have to press the search button to get results

    h4 Search Criteria

    form.ch-form__group.ch-form--inline.ch-well--bordered
      +row
        +select("Publicaton", "all", "", [{value: "all-publications", text: "All Publications"}])
        +select("All Groups", "all-groups", "", [{value: "all", text: "All Groups"}])

      +row
        +select("Size", "all", "", [{value: "all", text: "All Sizes"}])
        +select("Branch Account Code", "all", "", [{value: "all", text: "All Account Codes"}])

      +row 
        +select("Publication Account Code", "all", "", [{value: "all", text: "All Publication Account Codes"}])
        +select("Branch Group", "all", "", [{value: "all", text: "All Franchises"}])

      +row
        +select("Branch", "all", "", [{value: "all", text: "All Branches"}])
        +checkbox("Photos Only")

      +row 
        +text("Order ID")
        +text("Supergroup Order ID")

      +row 
        +select("Finance Completed", "all", "", [{value: "all", text: "All"}])
        +text("Kerridge Number")

      +row 
        +select("Search by Date", "deadline", "", [{value: "deadline", text: "Deadline"}])

      +row
        +date("Date Insertion From")
        +date("Date Insertion From")

      input(type="submit", value="Search").ch-btn.ch-btn--sm.ch-btn--cta
      button.ch-btn.ch-btn--sm.ch-btn--primary Export results

  div.ch-container
    div.ch-well--bordered
      table
        thead
          tr
            th Order ID
            th Group
            th Publication
            th Size
            th Branch Group
            th Who Requested
            th Deadline
            th Insertion Date
            th Super Group ID
            th 
        tbody
          tr
            td 179501
            td Daily Record
            td Daily Record Fri (E)
            td FP
            td BMW
            td Emily Walker
            td 01/02/2017 17:30:00
            td 03/02/2017
            td 34966
            td 
              a(href="/view-bookings/detail.html").ch-btn.ch-btn--sm.ch-btn--primary Edit
              a(href="#").ch-btn.ch-btn--sm.ch-btn--danger Cancel

