mixin user()
  tr
    td 123445
    td Market
    td Mr
    td Andy
    td Allan
    td 123445
    td: a(href="mailto:andy.allan@arnoldclark.com") andy.allan@arnoldclark.com
    td 01222334455
    td 
      a(href="#").ch-btn.ch-btn--sm.ch-btn--danger Delete
      a(href="/admin/users/users/edit.html").ch-btn.ch-btn--sm.ch-btn--primary Edit
      a(href="/admin/users/users/related-branches.html").ch-btn.ch-btn--sm Related Branches

mixin userTable(letter)
  table(id="page" + letter).ch-well--bordered
    thead
      tr
        th User
        th Role
        th Title
        th Forename
        th Surname
        th Employee ID
        th Email
        th Phone
        th
    tbody
      block