@import 'resets/reset';
@import 'globals/colours';
@import 'globals/breakpoints';
@import 'globals/typography';
@import 'globals/layout';

body {
  text-align: center;
}
h1 {
  color: white;
}
#quote {
  color: white;
  font-size: 10vh;
  font-weight: 900;
}
