@import 'resets/reset';
@import 'globals/colours';
@import 'globals/breakpoints';
@import 'globals/typography';
@import 'globals/layout';
@import 'globals/forms';

body {
  background: #454545!important;
  text-align: center;
}
#quote {
  font-size: 10vh;
  font-weight: 900;
}
