extends ../../../layouts/_layout.pug
include ../../../mixins/_pagination.pug
include ../../../mixins/_form.pug

block content
  div.ch-container
    h1 Related Branches
    div.ch-well--bordered
      table
        thead
          tr
            th Franchise
            th Branch
            th
        tbody
          tr
            td Non specific
            td Nithsdale Drive - Head Office
            td: a(href="#").ch-btn.ch-btn--sm.ch-btn--danger Delete

      +pagination(2)

  div.ch-container
    h3 Add Branch
    div.ch-well--bordered
      form.ch-form__group.ch-form__group--sm
        +row()
          +select("Franchise", "citroen/renault", "", [{value: "citroen/renaul", text: "Citroen/Renaul"}])
          +select("Branch", "armadale citroen", "", [{value: "armadale citroen", text: "Armadale Citroen"}])
